<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversalServer.Properties.Settings.UniversalServerDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UniversalServerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="UniversalServer.Properties.Settings.smarthomeConnectionString"
            connectionString="Data Source=WIN-RGNVB6V4INV;Initial Catalog=smarthome;Integrated Security=False;Persist Security Info=True;User ID=u_smarthome;Password=u_smarthome"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
